<!DOCTYPE html>
<html>

<head>
    <title> </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
</head>

<Body>

    <style>
        body {
            background-color: #f2ae49;
            font-family: 'Poetsen one', sans-serif; 
        }

        .container{
            margin-top: 200px;
            padding: 20px;
            border: 2px solid #000000;
            border-radius: 10px;
            background-color: #ff882c 
        }

    </style>

    <div class = "row justify-content-center">
        <div class = "col-md-6 container">
            <h2>Error</h2>

            <p>{{ error_message }}</p>

            <a href "% url 'main'" class="btn btn-primary rounded-pill">Go back to main view</a>
        </div>
    </div>
</div>


</Body>
</html>